.bracket-container {
    background-color: black;
    position: relative;
    overflow-x: auto;
}
  
.connector-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}